<h1>Stupid Coach</h1>


<form action="/answer" method="get" class="form-inline">
  <input type="text" name="question" class="form-control" placeholder="Type your question">
  <input type="submit" value="Ask!" class="btn btn-default">
</form>
